* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-margin {
  margin: 0 !important;
}

html, body {
  height: 100%;
  height: 100dvh;
  height: 100vh;
}

.error {
  color: red !important;
}