* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-margin {
  margin: 0 !important;
}

html, body {
  height: 100%;
  height: 100dvh;
  height: 100vh;
}

.error {
  color: red !important;
}

.toast {
  position: absolute !important;
  right: 15px;
  top: 30px;
}


.notification-animation {
  animation: slide-down 0.5s ease-in-out, fade-out 0.5s 2.5s ease-in-out forwards;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.glossy {
  width: 90px;
  height: 90px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 50%;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.2), 
              0 5px 15px 0 rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(20px);
}


.text-overflow {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.color-selected {
  border: 3px solid rgb(255, 255, 255);
}

.error {
  color: red !important;
}

.top-right-corner {
  position: absolute !important;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.is-flex-wrap {
  flex-wrap: wrap !important;
}

.is-gap-1 {
  gap: 4px;
}

.is-gap-2 {
  gap: 8px;
}

.is-gap-3 {
  gap: 12px;
}
.is-gap-4 {
  gap: 16px;
}
.is-gap-5 {
  gap: 20px;
}

.card-selected {
  transform: translateY(-10px) scale(1.2);
  transition: transform 0.3s ease-out;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.card-deselected {
  transform: translateY(10px) scale(1);
  transition: transform 0.3s ease-in;
}

.is-absolute {
  position: absolute !important;
}

.pomodoro-card {
  width: 160px !important;
  height: 190px !important;
  border-radius: 20px !important;
}

.is-border-1 {
  border: 1px solid black !important;
}